body {
  background-color: #000;
  color: #00ffcc;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.panel {
  border: 2px solid #00ffcc;
  padding: 20px;
  margin: 10px;
  width: 80%;
  background-color: #111;
  box-shadow: 0 0 20px #00ffcc;
}
